.center-container {
  display: flex;
  padding-bottom: 3vh;
  align-items: center;
  gap: 20px;

  .age-restriction-message {
    color: red;
    font-size: 1rem;
    margin: 1rem;
    text-align: center;
  }

  app-button.restricted {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.icons-section {
  display: flex;
  flex-direction: column;
  width: 65%;
  align-items: flex-end;
  justify-content: center;
}

app-comic-cover.restricted {
  opacity: 0.6;
  cursor: not-allowed;
}
