@import '../../../themes/light';

.discussion-chat {
  width: 80%;
  font-size: 3vh;
  place-self: center;
  margin: 5vh;
  text-align: center;
  background: $background;
}

.top-control{
margin-top: 15vh;

}
