<div class="discussion-container">
  <div class="profile-pic-container">
  <img class="profile-pic" src="https://github.com/Juanelboi.png">
  </div>

  <div class="Discussion-part">
    <h1>Discussion tittle></h1>

    <div class="argument">this is prueba for purebas y mas pruebas de que lacard esta bien hecha y esas cosas</div>
    <div class="bottom-discusion">
      <div >
        holaa
      </div>
      <div>
        HOLA
      </div>

    </div>
  </div>
  <div>

    <div>
    holaaa
    </div>

  </div>


</div>
