@import '../../../themes/themes';

.comic-description-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  font-family: $font-family;

  .title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
  }

  .description-section {
    margin-bottom: 20px;

    h2 {
      font-size: 1.5rem;
      font-weight: bold;
      color: var(--dark-gray);
      margin-bottom: 10px;
    }

    p {
      font-size: 1rem;
      line-height: 1.6;
      color: var(--dark-gray);
    }
  }

  .details-section {
    p {
      font-size: 1rem;
      margin: 20px 0;
      color: var(--dark-gray);

      strong {
        font-weight: bold;
        color: var(--black);
      }
    }
  }
}
