<app-header></app-header>

<h1>
  {{ title }}
</h1>

<div class="Container">
  <div id="pdf-container"  #pdfContainter (click)="pageChangeOnClick($event, pdfContainter)">
    <canvas class="normal" style="cursor:pointer" #pdfCanvas></canvas>
  </div>

  <div id="BottomButtons">
    <div>
    <app-button text="Pantalla completa"  buttonWidth="10vw" buttonHeight="5vh" textSize="0.85rem" (buttonClick)="fullscreen()"></app-button>
    </div>

    <div id="Pagebuttons">
      <button class="page_button" (click)="prevPage()"><</button>
      <input id="PageNumber" #InputNumber type="text" min="1" max="{{ maxPages }}"
          (input)="numberChecker()"   (keydown.enter)="pageInputChange()" [placeholder]="pageNumber">
      <button class="page_button" (click)="nextPage()">></button>
    </div>
    <app-action-icons></app-action-icons>
  </div>
</div>

<div class="center-container" style="margin-top: 5vh;">
  <app-button text="ADD YOURS"></app-button>
</div>

<div class="comment-section">
  <app-comment
    *ngFor="let comment of comments"
    [userIcon]="defaultUserIcon"
    [username]="defaultUsername"
    [comment]="comment.comment">
  </app-comment>
</div>


<app-footer></app-footer>
